{release, {oauth2_example, "0.0.1"}, [oauth2_example]}.

{extended_start_script, true}.

{overlay_vars, "config/vars.config"}.

{overlay,
 [
  {template, "config/vm.args",
   "releases/\{\{release_version\}\}/vm.args"},
  {template, "config/sys.template.config",
   "releases/\{\{release_version\}\}/sys.config"}
 ]
}.
