[

%% OAuth2
{oauth2,
 [
  %% Backend
  {backend, oauth2_mnesia_backend},

  %% Tables config - specific to mnesia backend
  {tables_config,
   [
    {access_token, ram_copies},
    {refresh_token, ram_copies},
    {user, disc_copies},
    {client, disc_copies}
   ]
  }
 ]
},

%% oauth2_example
{oauth2_example,
 [
  %% Name of the master node.
  %% Default name is: "master@127.0.0.1"
  {master_node, "{{master_node}}" },

  %% HTTP Server Parameters
  {http_trans_opts, [{port, {{http_port}} }]},
  {http_listener_count, {{http_listener_count}} }
 ]
},

%% LAGER
{lager,
 [
  {colored, true},
  {async_threshold, 200},
  {async_threshold_window, 5},
  {error_logger_hwm, 500},
  {handlers,
   [{lager_console_backend,
     [info,
      {lager_default_formatter,
       [color,
        time,
        " [", severity, "]", " ", pid, " [", {module, ""}, ":", {function, ""}, ":", {line, ""}, "] ", message, "\e[0m\n"
       ]
      }
     ]
    }
   ]
  }
 ]
}

].